

/*** Import fonts from fonts.css file ***/
@import url(./fonts.css);

/*** Import CSS variables ***/
@import url(./partials/_variables.css);

/*** Navbar CSS ***/
.logo{
    width: 75px;
    height: auto;
}

/*** Start navigation ***/

.navbar{
    padding: 1rem 20rem;
}

.navbar-brand{
    padding: 0 2rem 0 5rem;
}

.navbar-nav{
    text-decoration-color: red;
}

a{
    color: red;
    font: normal 500 15px/2px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.btn{
    padding: 0.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}


.hr{
    color:white;
    margin: 1rem;
}

body{
    background-color: #242323;
}



/*** End navigation ***/

.site-main .site-banner .texte {
    color: var(--title-color);
}

.flexbox{
    display:flex;
}

.doc{
    border: solid white;
    border-radius: 2.5rem;
    text-align: center;
}

.widget{
    text-align: center;
    margin-top: 5rem;
    border: solid white;
    border-radius: 6rem;;
    background-image: url("../img/wallpaper-nuit-info.png");
    background-position-x: center;
}


.texte-discord{
    color: var(--title-color);
    margin: 2rem;
}

.widget-discord{
    border-radius: 1.5rem;
    opacity: 0.95;
}